/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: white;
    text-transform: uppercase;
}

.container {
    border: 1px solid darkred;
    background-color: #b71951;
}
